.wrapper{
    margin-top: 50px;
    text-align:center;
}
.container{
    padding:50px;
 
    margin:10px auto;
    width:700px;
    text-align:center;
    display:block;
    background-color: rgb(115, 115, 115);
    box-shadow: 15px 15px;
}
.title{
    text-align: center;
    font-size: 100px;
    font-family: 'League Gothic', sans-serif;
    color: rgb(13, 13, 13)
}

i{
    color:green
}
#trash{
    color:red
}

#trash:hover{
    font-size:40px;
    cursor: pointer;
}
ul{
    list-style: none;
}
.button{
    margin-left: 10px;
}
.taskList{
    text-align:center;
}
.list{
    margin-top:50px;
    max-width: 700px;
    margin:10px auto;

}
.listItem{
  
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    margin-top:5px;
    background-color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: 20px;

}

.deleteItem{
    margin-right: 20px;
}

.remaining{
    font-family: 'League Gothic', sans-serif;
    font-size:20px;
    color:white
}

.input{
    font-family: 'League Gothic', sans-serif;
    width:300px;
    margin:10px auto;
    display:flex;
    font-size: 30px;
}

#addButton{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#deleteAllButton{
    font-family: 'Oswald', sans-serif;
}
