
.wrapper{
    text-align: center;
}
.title{
    margin-top:50px;
    color: rgb(94, 94, 172);
   text-align: center;
   font-family: 'Bebas Neue', cursive;
   font-size: 100px;

}
.input{
 
    height: 50px;
}

ul{
    list-style: none;
}

.tasklist{
    margin-top:20px;
 
}
.listItem{
    border:1px solid;
    margin:auto;
    width:400px;
    margin-top: 5px;
    height:40px;
    background-color: white;
}
.deleteItem{
    float:right;
    height: 40px;
    width:40px
}


